cycler==0.10.0
kiwisolver==1.1.0
matplotlib
numpy
pandas==1.2
Pillow
protobuf>=3.20
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
scipy
seaborn==0.9.0
six==1.12.0
tensorboardX
torch
torchvision
tqdm==4.36.1
dppy
